.form {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.form-field {
  margin: 0 10px;
}
.form-field-label {
  text-transform: uppercase;
  margin: 0 10px;
}
.form-field-text {
  font-size: 1em;
  padding: 7px 5px;
}
.form-field-text.error {
  border-color: red;
}
.form-button {
  border: none;
  margin: 0 10px;
  font-size: 1em;
  padding: 8px 10px;
  min-width: 150px;
  background: #005b96;
  color: #fff;
  font-weight: bold;
}
