.app-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.app-button {
  appearance: none;
  border: none;
  margin: 0 10px;
  font-size: 1em;
  padding: 5px 10px;
  min-width: 150px;
}
.app-button.active {
  font-weight: bold;
}
.msg {
  text-transform: uppercase;
  color: rgba(0,0,0,.1);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 90vh;
  font-weight: normal;
}
.main {
  padding: 30px 20px;
  text-align: center;
}
hr {
  margin: 30px 0;
  border-color: rgba(0,0,0,.1);
}
